# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
dist/
build/

# Misc
.DS_Store
*.log
*.tsbuildinfo

# Environment
.env
.env*.local

# IDEs
.vscode/
.idea/

# Turbo
.turbo/
